* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    letter-spacing: 1;
    font-family: "Roboto", sans-serif;
    line-height: 1.3;

}

html,body {
    height: 100%;
    max-width: 100%;
    background-color: rgb(255, 255, 255);
    -webkit-text-size-adjust: 100%;
    
}
.main-tag{
    position: relative;
    overflow: hidden;
}

.myheader {
    display: none;
}


.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
}

.mynav {
    padding: 20px;
    font-family: "Roboto", sans-serif;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
    color: rgb(2, 2, 32);
    background-color: aqua;
}

.photo-pro {
    height: 100vh;
    width: 100vw;
    background-color: rgb(11, 206, 175);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    height: 100%;
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left img {
    height: 30vw;
    width: 30vw;
    border-radius: 50%;

}

.right {
    height: 100%;
    width: 62%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 30px;
    color: white;
}

.right,
h3,
a {
    font-family: "Roboto", sans-serif;
    align-content: center;
    font-size: 4vw;
}

.right h1 {
    font-family: "Roboto", sans-serif;
    font-size: 5.5vw;
    color: transparent;
    -webkit-text-stroke: 2px white;
    padding: 20px 0px;
}

.right button {
    margin-top: 30px;
    height: 50px;
    width: 150px;
    border-color: white;
    border-radius: 50px;
    font-size: large;
    background-color: transparent;
    color: white;
}

.stroke-heading {
    position: relative;
    text-align: center;
    margin: 7% 0%;
}

.about-heading {
    font-size: 15vw;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2px grey;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.1;
}

.stroke-heading h3 {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-size: 4vw;
    color: rgb(11, 206, 175);
    top: 7vw;
    left: 36.7vw;
}

.stroke-heading-top {
    position: relative;
    text-align: center;
    margin: 7% 0%;
}

.stroke-heading-top h3 {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-size: 4vw;
    color: rgb(11, 206, 175);
    top: 7vw;
    left: 39vw;
}

.portfolio {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.portfolio div h1 {
    color: #343a40;
}

.colonm1 {
    height: 100%;
    width: 35vw;
    text-align: center;
    padding:0px 20px;
    margin: 0px 10px;
}

.colonm1 img {
    height: 42vw;
    width: 36vw;
    padding: 20px;
    border-radius: 30px;
    opacity: 0.9;

}

.colonm1 img:hover {
    opacity: 1;
}

.colonm2 {
    width: 65vw;
    background-color: white;
    padding: 20px;
    margin: 0px 10px;
}

.colonm2 p {
    margin-top: 18px;
    color: #6c757d;
}
.colonm2 h1 {
    font-size: 26px;
}

.colonm2 p span {

    color: #6c757d;
    font-size: 16px;

}

.table {
    margin-top: 25px;
    display: flex;
    justify-content: space-evenly;
}

.table p {
    color: rgb(102, 88, 88);
    margin: 10px;
}

.table-btn {
    margin-top: 30px;
    height: 50px;
    width: 140px;
    border-color: rgb(11, 206, 175);
    border-radius: 50px;
    font-size: large;
    background-color: transparent;
    color: rgb(11, 206, 175);
    margin-left: 15px;
}

.stroke-heading-large {
    position: relative;
    margin-top: 7%;
    margin-bottom: 7%;
    text-align: center;
}

.quality-heading {
    text-align: center;
    font-size: 15vw;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2px grey;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.1;
}

.stroke-heading-large h3 {
    position: absolute;
    top: 8vw;
    left: 29.2vw;
    font-family: "Roboto", sans-serif;
    font-size: 3vw;
    color: rgb(11, 206, 175);
    align-items: center;
}

.full-page {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: "Roboto", sans-serif;
}

.education {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.text-heading {
    color: #343a40;
}

.education h4,
p {
    color: #6c757d;
    font-size: 16px;
    margin-top: 10px;
}

.text-sub-heading {
    font-size: 20px;
    margin-top: 25px;
    color: #343a40;
}

.experience {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-family: "Roboto", sans-serif;
}

.experience h4,
p {
    color: #6c757d;
    font-size: 16px;
    margin-top: 10px;
}

.skills-heading {
    text-align: center;
    font-size: 15vw;
    font-weight: bold;
    color: transparent;
    -webkit-text-stroke: 2px grey;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.1;
}

.myskills {
    margin: 30px 0px;
    display: flex;
    flex-direction: column;
}

.skills {
    display: flex;
    justify-content: space-between
}

.left-side , .right-side{
    height: 100%;
    width: 40%;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: #343a40;
    display: flex;
    flex-direction: column;
}

/* .right-side{
    height: 100%;
    width: 40%;
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    color: #343a40;
    display: flex;
    flex-direction: column;

} */

.left-side input {
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #6c757d;

}

.right-side input {
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #6c757d;
    background-color: #6c757d;

}

.stroke-heading-medium {
    position: relative;
    text-align: center;
    margin: 7% 0%;
}

.stroke-heading-medium h3 {
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-size: 5vw;
    color: rgb(11, 206, 175);
    top: 6.1vw;
    left: 32.7vw;
}

.project {
    display: flex;
    margin-bottom: 20px;
}

.service {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: 30px 0px;
    position: relative;
}

.project img {
    width: 21vw;
    height: 10vw;
    margin-right: 22px;
}


.service-logo-left i , .service-logo-right i{
    margin-right: 40px;
    font-size: 40px;
    color: white;
}


/* .service-logo-right i {
    margin-right: 40px;
    font-size: 40px;
    color:rgb(0, 0, 0);
} */

/* .service-logo-left {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
} */

.service-logo-right , .service-logo-left{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    position: relative;
}
#service-top-l::before {
    content: "";
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background: rgb(11, 206, 175);
    position: absolute;
    z-index: -1;
    left: 9.5vw;
}


#service-bottom-l::before {
    content: "";
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background: rgb(11, 206, 175);
    position: absolute;
    z-index: -1;
    left: 7.2vw;
}

#service-top-r::before {
    content: "";
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background: rgb(11, 206, 175);
    position: absolute;
    z-index: -1;
    left: 6.8vw;
}

#service-bottom-r::before {
    content: "";
    height: 100px;
    width: 100px;
    border-radius: 50px;
    background: rgb(11, 206, 175);
    position: absolute;
    z-index: -1;
    left: 10.7vw;
}

.project-details {
    margin-bottom: 50px;
    height: 140px;
    width: 325px;
    overflow: hidden;
}
.project-details h5 {
    font-size: 22px;
}
.project-details p {
    font-size: 16px;
}

.service-details {
    margin-bottom: 50px;
}

.myport{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.port-full-page{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    font-family: "Roboto", sans-serif;
}
.port-left-side , .port-right-side{
    width: 48vw;
}

.myport img {
    height: 19vw;
    width: 19vw;
    margin: 15px;
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 100%;
}

.contact {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.mail-name input {
    height: 40px;
    width: 26vw;
    border-radius: 50px;
    margin: 10px;
    border: 1px solid #6c757d;
    font-size: 1rem;
    background-color: transparent;
    color: #343a40;
    padding-left: 20px;
    outline: none;
}

.subject input {
    height: 40px;
    width: 54vw;
    border-radius: 50px;
    margin: 10px;
    border: 1px solid #6c757d;
    font-size: large;
    background-color: transparent;
    color: #343a40;
    padding-left: 20px;
    font-size: 1rem;
    outline: none;
}

.massage textarea {
    width: 54vw;
    border-radius: 10px;
    margin: 10px;
    border: 1px solid #6c757d;
    font-size: large;
    background-color: transparent;
    color: #343a40;
    padding-left: 20px;
    padding-top: 10px;
    outline:none;
    font-size: 1rem;
}


.myfooter {
    margin: 32px 0px;
    background: rgb(11, 206, 175);
    width: 100%;
    height: 300px;
    padding: 40px;

}

.items {
    display: flex;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.items i {
    display: flex;
    margin: 10px;
    font-size: 30px;
    height: 60px;
    width: 60px;
    background-color: white;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #343a40;
}

.terms-cond {
    display: flex;
    justify-content: center;
}

.terms-cond a {
    font-size: 16px;
    text-decoration: none;
    color: white;
    margin: 15px;
}

.terms-cond p {
    font-size: 18px;
    text-decoration: none;
    color: white;
    margin-top: 12px;
}

.developer-name {
    display: flex;
    justify-content: center;
}

.developer-name p {
    font-size: 20px;
    color: white;

}

.developer-name p span {
    font-weight: bold;
    font-size: 25px;
}